doctype html
html
  head
    title Hello world!
    link(rel="stylesheet", href="/styles/app.css")

  body
    h1 Hello World! 444
    p We used Jade and Gulp to generate this.
    script(src="/scripts/app.js")